.reservation-bar {
    background: #e60023;
    padding: 25px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 30px 40px;
    align-items: end;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .field label {
    color: white;
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  .field input,
  .field select {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  
  .search-btn {
    height: 45px;
    border: none;
    border-radius: 10px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
  }
  
  .search-btn:hover {
    background: #111;
  }
  